#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "galene"
name = "Galène"
description.en = "Videoconferencing server that is easy to deploy"
description.fr = "Serveur de visioconférence facile à déployer"

version = "1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://galene.org/"
demo = "https://galene.org:8443/"
admindoc = "https://galene.org/"
userdoc = "https://galene.org/faq.html"
code = "https://github.com/jech/galene"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true

sso = false

disk = "50M"
ram.build = "400M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If Visitors enabled, Galène will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si la permission Visiteurs est cochée, Galène sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Set the administrator password (between 8 and 30 characters)"
    help.fr = "Définissez le mot de passe administrateur (entre 8 et 30 caractères)"
    type = "password"

    [install.group_name]
    ask.en = "Choose a name for the group you want to create"
    ask.fr = "Choisissez un nom pour le groupe que vous voulez créer"
    type = "string"
    default = "public"
    example = "public"

    [install.group_description]
    ask.en = "Choose a description for the group you want to create"
    ask.fr = "Décrivez le groupe que vous souhaitez créer"
    help.en = "Add a human-readable description of the group; this is displayed on the landing page for public groups."
    help.fr = "Ajoutez une description du groupe; ceci est affiché sur la page de destination des groupes publics."
    type = "string"
    optional = true

[resources]

    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/jech/galene/archive/refs/tags/galene-1.0.tar.gz"
    sha256 = "663639649ab417cddbb8d88b16cfc2f8a2391903f27a25b16e0239202ae2245e"
    autoupdate.strategy = "latest_github_tag"
 
    [resources.sources.ldap]
    url = "https://github.com/jech/galene-ldap/archive/8c6d6ec1604b72bc4fc5161eabb27aee0a7fbca5.tar.gz"
    sha256 = "cb374d5b95ad17ae673cdd33b9d4629b4bec36b2da1cbfea170f6500d1cba8d5"
    autoupdate.upstream = "https://github.com/jech/galene-ldap"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["groups", "recordings"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095
    ldap.default = 8096
    turn.default = 1194
    turn.exposed = "Both"

    [resources.apt]
    packages = "jose"
