[Unit]
Description=Galène: LDAP integration for the videoconferencing server
Documentation=https://galene.org
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/live_ldap/
ExecStart=__INSTALL_DIR__/live_ldap/galene-ldap -data __INSTALL_DIR__/live_ldap/data/
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
