[Unit]
Description=Galène: videoconferencing server
Documentation=https://galene.org
After=network.target

[Service]
Type=simple
WorkingDirectory=__FINALPATH__/
User=__APP__
Group=__APP__
ExecStart=__FINALPATH__/galene -http __PORT__ -turn __PUBLIC_IP4__:__TURN_PORT__ -udp-range 49152:65535
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
